/* -------------------------- ** Media Query ** -------------------------- */
$media: (sm, md, lg, xl) !default;
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1280px,
  xl: 1920px
) !default;

/* -------------------------- ** Grid System ** -------------------------- */
$grid-columns: 12 !default;
$enable-grid-default-gutter: true !default;

/* -------------------------- ** Gutter System ** -------------------------- */
$gutter-tiers: (0, 1, 2, 3, 4, 5) !default;
$gutter-scales: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 2,
  5: 4
) !default;
$gutter-x-width: 10px !default;
$gutter-y-height: 10px !default;

/* -------------------------- ** Container System ** -------------------------- */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1120,
  xl: 1320px
) !default;
