/* -------------------------- ** Media Query ** -------------------------- */
$media: (sm, md, lg, xl) !default;
$breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 1280px,
  xl: 1920px
) !default;

/* -------------------------- ** Grid System ** -------------------------- */
$grid-columns: 12 !default;
$enable-grid-default-gutter: true !default;

/* -------------------------- ** Space System ** -------------------------- */
$space-value: 1em !default;
$space-tiers: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 2,
  5: 4
) !default;
$space-breakpoints: (
  sm: 0.5em,
  md: 0.8em,
  lg: 1em,
  xl: 1.5em
) !default;

$space-classname-props-map: (
  p: padding,
  pt: padding-top,
  pb: padding-bottom,
  pl: padding-left,
  pr: padding-right,
  py: (
    padding-top,
    padding-bottom
  ),
  px: (
    padding-left,
    padding-right
  )
);

/* -------------------------- ** Gutter System ** -------------------------- */
$gutter-tiers: $space-tiers;
$gutter-x-width: $space-value;
$gutter-y-height: $space-value;

/* -------------------------- ** Container System ** -------------------------- */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1120,
  xl: 1320px
) !default;

/* -------------------------- ** Flex System ** -------------------------- */
$flex-props-cheatsheet: (
  f: "flex",
  d: "flex-direction",
  w: "flex-wrap",
  x: "justify-content",
  y: "align-items",
  ac: align-content,
  o: order,
  g: flex-grow,
  s: flex-shrink,
  as: align-self
) !default;

// key/value: classname/prop-map
$flex-class-map: (
  "d-flex": (
    f: flex
  ),
  "d-inline-flex": (
    f: inline-flex
  ),
  "flex-central": (
    x: center,
    y: center
  ),
  "flex-row": (
    d: row
  ),
  "flex-row-reverse": (
    d: row-reverse
  ),
  "flex-column": (
    d: column
  ),
  "flex-column-reverse": (
    d: column-reverse
  ),
  "flex-x-start": (
    x: start
  ),
  "flex-x-end": (
    x: end
  ),
  "flex-x-center": (
    x: center
  ),
  "flex-x-between": (
    x: between
  ),
  "flex-x-around": (
    x: around
  ),
  "flex-x-evenly": (
    x: evenly
  ),
  "flex-y-start": (
    y: start
  ),
  "flex-y-end": (
    y: end
  ),
  "flex-y-center": (
    y: center
  ),
  "flex-y-baseline": (
    y: baseline
  ),
  "flex-y-stretch": (
    y: stretch
  ),
  "flex-grow-1": (
    g: 1
  ),
  "flex-grow-0": (
    g: 0
  ),
  "flex-shrink-1": (
    s: 1
  ),
  "flex-shrink-0": (
    s: 0
  )
);
