$color-map: (
  red: #f00,
  orange: #ff7f00,
  yellow: #ff0,
  greenYellow: #7fff00,
  green: #0f0,
  greenCyan: #00ff7f,
  cyan: #0ff,
  blueCyan: #007fff,
  blue: #00f,
  blueMagenta: #7f00ff,
  magenta: #f0f,
  redMagenta: #ff007f,
  gray: #9b9b9b
);
