$color-map: (
  red: #b71c1c,
  pink: #880e4f,
  purple: #4a148c,
  deepPurple: #311b92,
  indigo: #1a237e,
  blue: #0d47a1,
  lightBlue: #01579b,
  cyan: #006064,
  teal: #004d40,
  green: #1b5e20,
  lightGreen: #33691e,
  lime: #827717,
  yellow: #f57f17,
  amber: #ff6f00,
  orange: #e65100,
  deepOrange: #bf360c,
  brown: #3e2723,
  grey: #212121,
  blueGrey: #263238
);
