$deimension-width-map: (
  0: 0,
  100: 100%,
  screen: 100vw,
  px-0: 0px
) !default;

$deimension-height-map: (
  0: 0,
  100: 100%,
  screen: 100vh,
  px-0: 0px
) !default;

$deimension-max-width-map: (
  100: 100%
) !default;

$deimension-max-height-map: (
  100: 100%
) !default;

$deimension-min-width-map: (
  0: 0
) !default;

$deimension-min-height-map: (
  0: 0
) !default;
