@import "./row";

$flex-cheatsheet-map: (
  d: "flex-direction",
  w: "flex-wrap",
  x: "justify-content",
  y: "align-items",
  ac: align-content,
  o: order,
  g: flex-grow,
  s: flex-shrink,
  as: align-self
) !default;

// flex box
$flex-class-map: (
  "d-flex": (
    display: flex
  ),
  "d-inline-flex": (
    display: inline-flex
  ),
  "flex-central": (
    x: center,
    y: center
  ),
  "direction-row": (
    d: row
  ),
  "direction-row-reverse": (
    d: row-reverse
  ),
  "direction-column": (
    d: column
  ),
  "direction-column-reverse": (
    d: column-reverse
  ),
  "row-start": (
    x: start
  ),
  "row-end": (
    x: end
  ),
  "row-center": (
    x: center
  ),
  "row-between": (
    x: space-between
  ),
  "row-around": (
    x: space-around
  ),
  "row-evenly": (
    x: space-evenly
  ),
  "column-start": (
    y: start
  ),
  "column-end": (
    y: end
  ),
  "column-center": (
    y: center
  ),
  "column-baseline": (
    y: baseline
  ),
  "column-stretch": (
    y: stretch
  )
) !default;

// flex item
$flex-item-elastic: 2 !default;
$flex-item-order: $row-columns !default;
