@mixin hover-zoom-in($duration: 0.3s, $scale: 1.1) {
  transition: $duration;
  &:hover {
    transform: scale($scale);
  }
}

@mixin aspect-radio($radio, $wrapper-width-pct: 100%) {
  // safari border radius bug。
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);

  position: relative;
  height: 0;
  width: $wrapper-width-pct;
  padding-bottom: $wrapper-width-pct / $radio;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
