$positions: (static, fixed, absolute, relative, sticky) !default;

@each $position in $positions {
  .#{$position} {
    position: $position;
  }
}

@mixin fixed-block {
  position: fixed;
  right: 0;
  left: 0;
}

@mixin sticky-block {
  position: sticky;
  right: 0;
  left: 0;
}

.fixed-top {
  top: 0;
  @include fixed-block();
}

.fixed-bottom {
  bottom: 0;
  @include fixed-block();
}

.sticky-top {
  top: 0;
  @include sticky-block();
}

.sticky-bottom {
  bottom: 0;
  @include sticky-block();
}
